<div class="titleDiv">
    <mat-label fxLayoutAlign="center">User Management</mat-label>
  </div>

  <div>
    <button mat-raised-button color="primary" (click) = "openAddUserModal()">Add User</button>
  </div>

  <div>
      <h1></h1>
  </div>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
  
      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->
    
      <ng-container matColumnDef="firstName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> First Name </th>
        <td mat-cell *matCellDef="let user"> {{user.firstName}} </td>
      </ng-container>
    
      <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Name </th>
          <td mat-cell *matCellDef="let user" > {{user.lastName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
          <td mat-cell *matCellDef="let user"> {{user.email}} </td>
        </ng-container>
    
        <ng-container matColumnDef="userName">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Username </th>
          <td mat-cell *matCellDef="let user"> {{user.userName}} </td>
        </ng-container>
    
        <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Role </th>
          <td mat-cell *matCellDef="let user"> {{user.role}} </td>
        </ng-container>
    
        <ng-container matColumnDef="enrollmentDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Enrollment Date </th>
          <td mat-cell *matCellDef="let user"> {{user.enrollmentDate}} </td>
        </ng-container>

      
      <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
      (mouseover)="highlightRow(row)" [ngClass] = "{'highlight' : row.userName == selectedName}"
     (click)="openFirstModalbyId(row)"></tr>

    
    </table>
    
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 50 ]" showFirstLastButtons></mat-paginator>

    
